---
import Layout from "../layouts/Layout.astro";
import ChatWithAI from "../components/ChatWithAI";
---

<Layout>
  <Fragment slot="head">
    <title>AI Chat | AI Social Creator</title>
  </Fragment>
  <h1
    class="text-4xl font-bold mb-4 font-sans bg-gradient-to-r from-blue-500 via-fuchsia-500 to-pink-500 bg-clip-text text-transparent"
  >
    Chat with AI
  </h1>
  <p class="text-lg text-gray-600 font-sans mb-6">
    Chat with the AI and generate content for your posts.
  </p>
  <ChatWithAI client:load />
</Layout>
