---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Fragment slot="head">
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </Fragment>
  <h1
    class="text-4xl font-bold mb-4 font-sans bg-gradient-to-r from-blue-500 via-fuchsia-500 to-pink-500 bg-clip-text text-transparent"
  >
    Astro
  </h1>
</Layout>
