---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Fragment slot="head">
    <title>X | AI Social Creator</title>
  </Fragment>
  <h1 class="text-4xl font-bold mb-4 font-sans">X</h1>
  <p class="text-lg text-gray-600 font-sans">
    This is the X page. More features coming soon.
  </p>
</Layout>
